body{
    font-family: 'Montserrat';
}

#title{
    background-color: #ff4c68;
    color: white;
}
.apple, .play{
    height: 30px;
    width: 30px;
}
#navbarSupportedContent{
    justify-content: flex-end;
}
h1{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 2;
}
/* Navigation Bar */
.navbar-brand{
    font-family: 'Ubuntu';
    
    font-weight: bold;
}
